doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title
      Example Firebase Express
    style
      include style.css
  body
    nav
      h1
        THIS MY SITE
    main
      p This is the main content
    footer
      a(href='mailto:john@primitivemachine.com') Contact
